// .boxes {
//   background-color: black;
//   width: 500px;
//   height: 500px;
//   border-color: black;

// }
.grid {
  border: 2px solid darkblue;
  border-radius: 5px;
  width:250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 1px solid black;
}

.box-highlighted{
  background-color: black;
}